<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="icon" href="{% static 'images/logo.png' %}" sizes="96x96" type="image/png">
    <title>C.A.C PALACE OF LIGHT AND SALVATION</title>
    <script src="https://kit.fontawesome.com/695fe7585b.js" crossorigin="anonymous"></script>
</head>
<body>

    <!-- BODY PAGE -->

    <div class="container-fluid">


        <!-- HOME SECTION START -->

        <section class="home" id="home">

            <!-- navigation -->
            <nav class="navbar navbar-expand-md navbar-light bg-transparent sticky-top">
                <!-- logo -->
                <a class="navbar-brand  mt-n3" href="#"><img src="{%  static 'images/logo.png' %}" alt="logo" style="height: 90px;width: 120px;"></a>
                <!-- toggler button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsebtn">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- menu -->
                <div class="collapse navbar-collapse" id="collapsebtn">
                    <ul class="navbar-nav mt-n3 mx-4 ml-auto">
                        <li class="nav-item mx-3 active">
                            <a class="nav-link" href="#">HOME <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link" href="#">ABOUT</a>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link" href="#">SERMON</a>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link" href="#">EVENT</a>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link" href="#">GIVE ONLINE</a>
                        </li>
                    </ul>
                </div>
            </nav>


            <div class="home-content">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1>CHRIST APOSTOLIC CHURCH <br /> PALACE OF LIGTH AND SALVATION</h1>
                    <h3 class="text-white">(Vineyard of mercy DCC)</h3>
                    <div id="con-donate">
                        <a name="donate" id="donate" href="#">DONATE</a>
                    </div>
                </div>
            </div>
            </div>  
        
      
            

        </section>




       <footer class="footer">
           <div class="row">
               <div class="col-md-4 col-sm-12">
                   <h1>Quick Links</h1>
                   <ul class="quicklink">
                       <li><a href="#" id="foot-item">Home</a></li>
                       <li><a href="#" id="foot-item">About</a></li>
                       <li><a href="#" id="foot-item">Sermon</a></li>
                       <li><a href="#" id="foot-item">Event</a></li>
                       <li><a href="#" id="foot-item">Give Online</a></li>
                   </ul>
               </div>
               <div class="col-md-4 col-sm-12">
                   <h1>Address</h1>
                   <p><i class="fas fa-map-marker-alt" id="addr"></i></p>
                   <address id="foot-item">
                    50 Egbeda-Idimu Road, <br />
                    Oja Bus-Stop, <br />
                    Lagos
                   </address>
               </div>
               <div class="col-lg-4 col-sm-12">
                <h1>Contact us</h1>
                <ul class="my-4">
                    <li><a href="#"><i class="fab fa-facebook-square" aria-hidden="true"></i></a></li>
                    <li><a href=""><i class="fab fa-twitter-square" aria-hidden="true"></i></a></li>
                    <li><a href=""><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href=""><i class="fab fa-whatsapp" aria-hidden="true"></i></a></li>
                    <li><a href=""><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                </ul>
         </div>
           </div>
       </footer>
        
      
    </div>




    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>