<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet">
    <title>C.A.C PALACE OF LIGHT AND SALVATION</title>
    <script src="https://kit.fontawesome.com/695fe7585b.js" crossorigin="anonymous"></script>
</head>
<body>

    <!-- BODY PAGE -->

    <div class="container-fluid">


        <!-- HOME SECTION START -->

        <section class="home" id="home">

            <!-- navigation -->
            <nav class="navbar navbar-expand-md navbar-light bg-transparent sticky-top">
                <!-- logo -->
                <a class="navbar-brand  mt-n3" href="#"><img src="{%  static 'images/logo.png' %}" alt="logo" style="height: 90px;width: 120px;"></a>
                <!-- toggler button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsebtn">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- menu -->
                <div class="collapse navbar-collapse" id="collapsebtn">
                    <ul class="navbar-nav mt-n3 mx-4 ml-auto">
                        <li class="nav-item mx-3 active">
                            <a class="nav-link" href="#">HOME <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link" href="#">ABOUT</a>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link" href="#">SERMON</a>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link" href="#">EVENT</a>
                        </li>
                        <li class="nav-item mx-3">
                            <a class="nav-link" href="#">GIVE ONLINE</a>
                        </li>
                    </ul>
                </div>
            </nav>


            <div class="home-content">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1>C.A.C PALACE OF LIGTH AND SALVATION</h1>
                </div>
            </div>
            </div>  
        
            <ul class="social-icon">
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
            </ul>
            

        </section>




        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit ratione tenetur possimus, eos temporibus dolores aut esse excepturi adipisci explicabo sequi voluptas. Ipsum necessitatibus incidunt soluta assumenda recusandae provident dignissimos?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit ratione tenetur possimus, eos temporibus dolores aut esse excepturi adipisci explicabo sequi voluptas. Ipsum necessitatibus incidunt soluta assumenda recusandae provident dignissimos?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit ratione tenetur possimus, eos temporibus dolores aut esse excepturi adipisci explicabo sequi voluptas. Ipsum necessitatibus incidunt soluta assumenda recusandae provident dignissimos?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit ratione tenetur possimus, eos temporibus dolores aut esse excepturi adipisci explicabo sequi voluptas. Ipsum necessitatibus incidunt soluta assumenda recusandae provident dignissimos?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit ratione tenetur possimus, eos temporibus dolores aut esse excepturi adipisci explicabo sequi voluptas. Ipsum necessitatibus incidunt soluta assumenda recusandae provident dignissimos?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit ratione tenetur possimus, eos temporibus dolores aut esse excepturi adipisci explicabo sequi voluptas. Ipsum necessitatibus incidunt soluta assumenda recusandae provident dignissimos?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit ratione tenetur possimus, eos temporibus dolores aut esse excepturi adipisci explicabo sequi voluptas. Ipsum necessitatibus incidunt soluta assumenda recusandae provident dignissimos?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit ratione tenetur possimus, eos temporibus dolores aut esse excepturi adipisci explicabo sequi voluptas. Ipsum necessitatibus incidunt soluta assumenda recusandae provident dignissimos?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit ratione tenetur possimus, eos temporibus dolores aut esse excepturi adipisci explicabo sequi voluptas. Ipsum necessitatibus incidunt soluta assumenda recusandae provident dignissimos?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit ratione tenetur possimus, eos temporibus dolores aut esse excepturi adipisci explicabo sequi voluptas. Ipsum necessitatibus incidunt soluta assumenda recusandae provident dignissimos?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit ratione tenetur possimus, eos temporibus dolores aut esse excepturi adipisci explicabo sequi voluptas. Ipsum necessitatibus incidunt soluta assumenda recusandae provident dignissimos?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit ratione tenetur possimus, eos temporibus dolores aut esse excepturi adipisci explicabo sequi voluptas. Ipsum necessitatibus incidunt soluta assumenda recusandae provident dignissimos?</p>

        
      
    </div>




    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>